.bug-container {
    height: 300vh;
    width: 100vw;
}

.bug-box {
    border: 5px solid salmon;
    height: 100vh;
    width: 98vw;
    scale: 0;
    overflow: hidden;
}

.bug {
    height: 50px;
    width: 50px;
    position: absolute
}

.bug:hover {
    cursor: pointer;
}

#squash {
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    z-index: -1;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 4em;
    opacity: 0;

}