.hvac-photo{ 
    transform: translateX(1000px);
    opacity: 0;
}

.hvac-p { 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    transform: translateX(-1000px);
    opacity: 0;   
}



.fly-left {
    transform: translateX(-2000px);
}

.fly-left-2 {
    transform: translateX(-2000px);
}

.fly-right {
    transform: translateX(2000px);
}

.fold-down-contr {
    font-size: 3em;
}

.fold-down-contr,
.fold-down-contr-2,
.fold-down-contr-3,
.fold-down-contr-4,
.fold-down-contr-5,
.fold-down-contr-6,
.fold-down-contr-7{
    transform: rotateX(-90deg);
    color: white;
    width: auto;
    border-radius: 10px;
    perspective: 1200px;
}

.hvac-description {
    display: flex;
    align-items: center;
}

.feature-img {
    height: 30%;
}

.features-flexbox {
    margin-top: 8em;    
    margin-bottom: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.experience-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#feature-info-text {
    font-size: 24px;
    width: 50%;
}

/* Most Mobile */
@media all and (max-width: 699px) {
    .hvac-p {
        margin-left: 0px;
        padding:15px;
    }
}