#big-container {
    width: 100vw;
    background-color: #111013;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ka-logo {
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    opacity: 0;
    transform: translateX(4000px);
}

#img-cover-div {
    position: absolute;
    background-color: #111013;
    width: 4000px;
    height: 400px;
}

#img-cover-div-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#ka-text {
    line-break: break-word;
    width: 25%;
    font-size: 2em;
}

#ka-logo:hover {
    cursor: pointer;
}

#ka-pic-and-text-flex {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.education-flex {
    font-size: 45px
}

/* Most Mobile */
@media all and (max-width: 699px) {
 
#ka-text {
    font-size: 16px;
    width: 100%;
}


#ka-pic-and-text-flex {
    flex-direction: column;
}
}