html,
body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url(https://images.pexels.com/photos/574070/pexels-photo-574070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: cover;
}

#big-p-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

#qualbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    height: 1px;
    background-color: black;
    width: 100%;
}

#parallax {
    width: 100vw;
    background-image: url("/src/resources/pexels-lukas-574071.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vw;
    background-attachment: fixed;
    background-position: center;
    border-bottom: 10px white solid;
}

#parallax2 {
    background-color: white;
    width: 100vw;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

#abo2 {
    margin-right: 200px;
    margin-top: 20px;
    border-bottom: red solid 10px;
    color: black;
    width: auto;
    text-align: center;
    text-shadow: 1px 1px white;
    border-spacing: 20px;
}

#parallax3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#cv-text {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    line-height: 25px;
}

#me-pic {
    text-align: center;
    object-fit: cover;
    width: auto;
    border: 10px white solid;
    border-radius: 50%;
    margin-top: -100px;
}

#profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 50vw;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    color: rgb(173, 141, 141);
}

p,
h2,
h5 {
    color: black;
    font-weight: bold;
}

#nav-links-about-me {
    display: flex;
    flex-direction: row;
}

#desc-box {
    display: flex;
    flex-direction: row;
}

#cv-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(1, 42, 74);
    border: 2px solid black;
    border-top: 0;
}

#text-box {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    overflow-wrap: break-word;
    line-height: 20px;
    width: 100%;
}

.card-text {
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.card-title {
    text-align: center;
}

h5 {
    border-bottom: 2px solid black;
}

.progress {
    margin: 15px;
    height: 2.5em;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 25px;
}

#footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.footerlinks {
    margin-left: 50px;
}

#footerp {
    margin-right: 50px;
    font-size: 15px;
}

.box-card {
    padding: 10px;
    height: 20em;
    text-align: center;
    margin: 10px;
}

.carousel .slide img {
    border: 2px solid black !important;
}

.logo {
    object-fit: contain;
}

#skills-img {
    margin: 10px;
}

.card-container {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid black;
}

.card-container:hover {
    transition: all 0.3s ease;
    box-shadow: 5px 5px black;
}

#cow {
    margin: 30px;
}

#figbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cow:hover {
    transition: all 0.8s ease;
    box-shadow: 0 0 30px 15px #fff,
        /* inner white */
        0 0 50px 30px black,
        /* middle magenta */
        0 0 70px 40px black;
    /* outer cyan */
}

#caption {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

.black-h2 {
    color: black;
    text-shadow: none;
}

#work-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}


#bottom {
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

#bottom:hover {
    transition: all 0.8 ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#resume-img {
    object-fit: cover;
    width: 25em;
    border: 3px solid black;
    border-radius: 10%;
    margin: 5px;
}

.card-img {
    height: 10em;
    object-fit: cover;
}


#social-links {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20%;
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#Iam {
    margin: 10px;
    text-align: center;
}

#linksbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#linksbox>a {
    margin: 5px;
    border-radius: 50%;
    padding: 2px;
}

#abo {
    margin-right: 200px;
    margin-top: 20px;
    border-bottom: red solid 10px;
    color: black;
    width: auto;
    text-shadow: 2px 2px 2px white;
    border-spacing: 20px;
}

#resumeexp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}

#cert-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#certs {
    margin: 20px;
}

#cert-tiny {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#download {
    border: 2px solid black;
    text-decoration: none;
    padding: 15px;
    color: rgb(169, 214, 229);
    font-weight: bold;
    color: black;
}

#desc-box-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#big-exp-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#header {
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-shadow: none;
}

#header2 {
    font-size: 25px;
    color: black;
    border-bottom: solid 10px red;
    text-shadow: none;
    text-shadow: 1px 1px white;
}

#paul-desc {
    text-align: center;
    display: flex;
    text-align: center;
    inline-size: 400px;
    margin: 20px;
    color: black;
    text-shadow: none;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
}

#learnmore {
    margin: 20px;
}

.dot {
    background-color: black !important;
}

.logo {
    margin: 15px;
    border: solid 2px black;
    border-radius: 50%;
    padding: 2px;
    width: 25px;
}

#condetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactformbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#contactbox {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

#submit {
    width: 25%;
    margin: 20px;
}

textarea,
input {
    border: 1px solid black;
}

label {
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-shadow: 1px 1px white;
}

#emailp {
    text-shadow: 1px 1px white;
}

#contact-box {
    background: linear-gradient(90deg, #bbc8dd 50%, #6c7486 50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#download:hover {
    box-shadow: black 2px 2px;
    transition: 0.5 ease all;
}

#linksbox>a:hover {
    box-shadow: black 2px 2px;
    transition: 0.5 ease all;
}


/* Most Mobile */
@media all and (max-width: 699px) {

    /* #big {
        display: flex;
        flex-direction: column;
    } */
    #work-box {
        display: flex;
        flex-direction: column;
    }

    #resume-img {
        object-fit: contain;
    }

    .logo {
        margin: 2px;
    }

    #big-exp-box {
        flex-direction: column;
    }

    #certs {
        width: 200px;
    }

    #abo {
        margin-right: 50px;
        font-size: 20px;
    }

    #footer-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerlinks {
        margin-left: 0;
    }

    #form {
        width: 50%;
    }

    .footerDownload {
        font-size: 12px;
    }

    #download {
        padding: 10px;
    }

    #parallax {
        height: 100vw;
    }

    #cert-imgs {
        flex-direction: column;
    }

    #certs {
        width: 100%;
    }

    #desc-box {
        flex-direction: column;
    }

    #paul-desc {
        inline-size: 180px;
    }

    #Iam {
        font-size: 18px;
    }

    #skills-img {
        width: 100vw;
        object-fit: contain;
    }

    #header {
        font-size: 18px;
    }

    #header2 {
        font-size: 16px;
    }

    #paul-desc {
        font-size: 12px;
    }

    #abo {
        font-size: 18px;
    }

    #big-p-box {
        width: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 16px;
        font-weight: bold;
        font-stretch: condensed;
    }

    #cv-box {
        width: 85vw;
    }

    #me-pic {
        width: 50vw;
        height: 50vw;
        object-fit: cover;
    }

    #profile-box {
        width: 100vw;
        flex-direction: column;
        padding: 50px;
    }

    #figbox {
        width: 100vw;
    }

    .resume-box {
        width: 100vw;
        align-self: center;
    }

    #big-exp-box {
        align-items: center;
    }
}



/* Ipads */
@media all and (max-width: 1000px) {
    #Iam {
        font-size: 16px;
    }


    #big-exp-box {
        flex-direction: column;
    }


    #me-pic {
        width: 50vw;
        height: 50vw;
        object-fit: cover;
    }
}