
#big-p-box {
    display: flex;
    flex-direction: row;
}

.card-text {
    text-align: center;
    padding: 5px;
}

.card-title {
    text-align: center;
}

.progress {
    margin: 15px;
    height: 2.5em;
}



#Iam {
    margin: 10px;
}

.logo {
    margin: 15px;
}

.logo:hover {
    box-shadow: yellow 2px 2px;
    transition: 0.5 ease all;
}

@media all and (max-width: 699px) {
    body {
        display:
    }
}